.container {
  width: 100%;
  margin-bottom: 5rem;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.title {
  color: var(--PrimaryColor);
  font-weight: bold;
}

.header {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.content {
  width: 100%;
  margin: 3.8% 6% 4%;
  padding: 2rem;
  background-color: rgba(173, 173, 173, 0.477);
  border-radius: 1rem;
}
.sectionTitle {
  margin-left: 7%;
  width: 100%;
  text-wrap: nowrap;
}
.BlogImage {
  width: 20%;
  height: 10rem;
}
.Blogcontainer {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
}

@media only screen and (max-width: 1520px) {
  .Blogcontainer {
    flex-wrap: wrap;
  }
  .header {
    width: 100%;
  }
  .content {
    width: 77%;
  }
}
